MONGO_URI=
NODE_ENV=development
PORT=4000
RECRUITMENT_API_URL="http://127.0.0.1:8000"
#RESEND_API_KEY="re_EvqST3Y5_BpfABQfTskm9jGvDLC4hLGmm"
FRONTEND_URL="http://localhost:5173"
RESEND_API_KEY=
JWT_SECRET=
SYSTEM_COMPANY_ID=